@media screen and (max-width: 376px) {
    div {
        background-color: aliceblue;
        font-size: small;
    }
}

@media screen and (max-width: 1000px) and (min-width: 376px){
    div {
        background-color: aqua;
        font-size: medium;
    }
}

@media screen  and (min-width: 1001px){
    div {
        background-color: blueviolet;
        font-size: large;
    }
}
